%div.row.gray-bg
  %div.col-lg-12
    %div.ibox-title
      %h5 Crawl Activity
    %div.ibox.float-e-margins
      %div.ibox-content
        %div
          = image_tag("http://graphite.prod.factual.com:31900/render?from=-3hours&target=groupByNode(stats.counters.pipelines.prod.*.*.*.count,%206,%20%27sum%27)&height=250&width=1000&bgcolor=white&fgcolor=black", :style => "width: 100%")
%div.row.gray-bg
  %div.col-lg-12
    %div.ibox-title
      %h5 Scrappy Health
    %div.ibox.float-e-margins
      %div.ibox-content
        %div
          = image_tag("http://graphite.prod.factual.com:31900/render?from=-1hours&target=groupByNode(stats.gauges.pipelines.prod.scrappy.*.*.*.reported,4,%27sum%27)&drawNullAsZero=true&areaMode=all&areaAlpha=0.5&height=250&width=1000&bgcolor=white&fgcolor=black", :style => "width: 100%")
%div.row.gray-bg
  %div.col-md-8
    - @crawl_projects.each do |crawl_project|
      - stats_keys = %w(name cached last_cached last_extraction regression_tests)
      = render partial: 'crawl_projects/stats_table', locals: {crawl_project: crawl_project, stats_keys: stats_keys}
      %div.ibox.float-e-margins
    %div.ibox-content
      = link_to "New Crawl Project", new_crawl_project_path, class: "btn btn-primary"
      = link_to "All Crawl Projects", crawl_projects_path, class: "btn btn-default"
    %div.ibox.float-e-margins
    

  %div.col-md-4
    %div.row
      %div.ibox-title
        %span.label.label-info.pull-right
        %h5
          Crawl Stats
      %div.ibox-content
        %small.stats-label
          Leaf Pages cached today
          %h2
            4,232,910,335
      %div.ibox-content
        %small.stats-label
          Directory Pages cached today
          %h2
            9,791,181
    %div.ibox.float-e-margins
    %div.row
      %div.ibox-title
        %span.label.label-info.pull-right
        %h5
          TODO
        %form#todo-form
          %div.input-group
            %input{:type => "text", :id => "task-input", :class => "todo-input", :size => 42, :placeholder => "New task"}
      %div.ibox-content
        %ul.todo-list.small-list
          %li
            = check_box_tag("1", "task", checked = true)
            %span
              Extract foursquare
            %div.ibox-tools
              %a.close-link
                %i.fa.fa-times
          %li
            = check_box_tag("2", "task", checked = true)
            %span
              Reactivate yahoo crawl
            %div.ibox-tools
              %a.close-link
                %i.fa.fa-times
    %div.ibox.float-e-margins
    %div.row
      %div.ibox-title
        %span.label.label-warning.pull-right
        %h5
          Limit reached notices
      %div.ibox-content
        %div.row
          %div.col-xs-4
            %small.stats-label
              Host
            %h4
              startlocal.com.au
          %div.col-xs-4
            %small.stats-label
              Limit type
            %h4
              Failed
          %div.col-xs-4
            %small.stats-label
              Limit amount
            %h4
              8000

:javascript 
  $('#todo-form').submit(function () {
      if ($('#todo-input').val() !== '') {
          var input_value = $('#todo-input').val();
          //$('ul').append('<li>' + input_value + '<a href="">x</a></li>');

      };
      $('#todo-input').val('');
      return false;
  });

  $('#task-input').keypress(function(e) {
    if(e.which == 13) {
      if ($('.todo-input').val() !== '') {
        var input_value = $('.todo-input').val();
        
        $('.todo-list').append('<li><input type="checkbox" value="task"></input><span>\n' + input_value + '</span><div class="ibox-tools"><a class="close-link"><i class="fa fa-times"></i></a></div></li>').find('.close-link').click(function(e) {
            e.preventDefault();
            console.log($(this));
            $(this).parent().parent().remove();
            //$(this).closest('li').remove();
        });
      }
    }
  });

  $('.close-link').click(function(e) {
      e.preventDefault();
      console.log($(this));
      $(this).parent().parent().remove();
      //$(this).closest('li').remove();
  });
