<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    = javascript_include_tag "jquery-2.1.1.js"
    %title
      Crwltrckr
%body
  %div#wrapper
    %div#page-wrapper
      %div.row.border-bottom
        %nav.navbar.navbar-static-top
          %div.navbar-header
            = link_to image_tag("logo.svg", :style => "height: 240%;"), "/", class: 'navbar-brand'
          %ul.nav.navbar-top-links.navbar-right
            %li
              = link_to "All Crawl Projects", crawl_projects_path
            - if current_user
              %li
                = "#{current_user.email}"
              %li
                = link_to "Log out", log_out_path
            - else
              %li
                %span
                  = link_to "Sign up", sign_up_path
                  or
                  = link_to "Log in", log_in_path
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      %div.container
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        %div.ibox.float-e-margins
        = yield
