<%= form_for @crawl_project do |f| %>
 
  <% if @crawl_project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@crawl_project.errors.count, "error") %> 
        prohibited this crawl project from being saved:
      </h2>
      <ul>
        <% @crawl_project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
