%div.ibox-title
  %h5
    = link_to crawl_project.name, crawl_project_path(crawl_project)
%div.ibox-content
  %div.table-responsive
    %table.table.table-striped{style: "height: 100%; min-height:1px"}
      %thead
        %tr
          %th
          - stats_keys.each do |key|
            %th
              = key.gsub(/_/, ' ').titleize
          %th
            Cache Age

      %tbody
        - crawl_project.hosts.each do |host| 
          - stats = host.get_stats
          %tr
            %td
              = link_to host_path(host), method: :delete, data: { confirm: 'Are you sure?' } do
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
              = link_to [:refresh, host] do
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 

            - stats_keys.each do |key| 
              %td
                - if key == "name"
                  = link_to stats[key], "https://pipelines.factual.com/hosts/#{host.pipelines_id}/edit"
                - else
                  = stats[key]  
            %td
              = render partial: 'hosts/ages_chart', locals: {ages: stats['cached_ages']}

  = form_for(crawl_project, html: {class: 'form-inline'}) do |f| 
    %div.form-group
      = f.text_field :host_name, class: 'form-control', placeholder: "Domain"
      = f.submit "Add", class: "btn btn-primary"

