<p>
  <strong>Name:</strong>
  <%= @crawl_project.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @crawl_project.description %>
</p>

<table>
  <thead>
    <tr>
      <th>  </th>
      <% @stats_keys.each do |key| %>
        <th> <%= key.gsub(/_/, ' ').titleize %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @crawl_project.hosts.each do |host| %>
      <% stats = host.stats %>
    <tr>
      <td>
        <%= link_to 'Destroy', host_path(host),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
      <% @stats_keys.each do |key| %>
        <td> <%= stats[key] %> </td>
      <% end %>
    </tr>
    <% end if @crawl_project.host_ids %>
  <tbody>
</table>

<%= form_for @crawl_project do |f| %>
  <p>
    <%= f.label :add_host_name %><br>
    <%= f.text_field :host_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>


<%= link_to 'Edit', edit_crawl_project_path(@crawl_project) %> |
<%= link_to 'Back', crawl_projects_path %>
